html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'DM Mono', monospace;
	font-size: 18px;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
  background-color: #eee;
}

button {
	display: inline-block;
	border: none;
	border-radius: 3px;
	text-align: center;
	-webkit-appearance: none;
	cursor: pointer;
}

.sequence {
  overflow-x: auto;
	display: flex;
	flex-direction: column;
	gap: 1em;
  padding: 1em;
  background-color: #fff;
  background: repeating-linear-gradient(
    90deg,
    #606dbc,
    #606dbc 1em,
    #465298 1em,
    #465298 2em
  );
}

.sequence .note-row {
	display: flex;
  gap: 1em;
}

.sequence .note-row h3 {
  min-width: 1em;
	margin: 0;
  background: red;
}

.sequence .note-row ul {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 1em;
	margin: 0;
	padding: 0;
}

.sequence .note-row li {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	width: 2em;
	height: 2em;
	margin: 0;
	padding: 0;
	border-radius: 30px;
	background-color: red;
	text-align: center;
	font-weight: bold;
}

.sequence .note-row li:empty {
  visibility: hidden;
}
