html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'DM Mono', monospace;
	font-size: 18px;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
}

button {
	display: inline-block;
	border: none;
	border-radius: 3px;
	text-align: center;
	-webkit-appearance: none;
	cursor: pointer;
}
