:root {
  --note-1-colour: #D32F2F;
  --note-2-colour: #F57F17;
  --note-3-colour: #FDD835;
  --note-4-colour: #8BC34A;
  --note-5-colour: #2E7D32;
  --note-6-colour: #0097A7;
  --note-7-colour: #1976D2;
  --note-8-colour: #D81B60;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'DM Mono', monospace;
  font-size: 18px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
/*   background-color: #eee; */
}

button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  text-align: center;
  -webkit-appearance: none;
  cursor: pointer;
}

.wrapper {
  width: 90%;
/*   max-width: 800px; */
  margin: 0 auto;
}

.top {
  position: relative;
}

.menu-toggle {
  position: absolute;
  top: 1.1em;
  left: 0;
  padding: 0;
  background: none;
  width: 20px;
  height: 20px;
}

.menu-toggle span {
  display: block;
  width: 100%;
  top: 50%;
  margin-top: -1.5px;
  height: 3px;
  border-radius: 10px;
  background-color: #eee;
}

.menu-toggle:hover span {
  background-color: #bbb;
}

.menu-toggle span:before,
.menu-toggle span:after {
  --gap: 5px;
  display: block;
  position: absolute;
  content: '';
  width: inherit;
  height: inherit;
  background-color: inherit;
  pointer-events: none;
}

.menu-toggle span:before {
  top: 0;
}

.menu-toggle span:after {
  bottom: 0;
}

header {
  margin: 1em auto;
  padding: 0 1em;
  text-align: center;
}

header h1,
header h2 {
  display: inline-block;
  margin: 0;
  line-height: 1.1;
}

header h1 {
  font-size: 1.3em;
}

header h2 {
  opacity: 0.6;
  font-size: 0.6em;
  font-weight: 300;
}

header h2 a {
  text-decoration: none;
  color: inherit;
}

header h2:hover {
  opacity: 1;
}

.export {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.export:hover {
  opacity: 1;
}

.export-canvas {
  display: none;
  position: absolute;
  pointer-events: none;
}

form {
  display: flex;
  margin-bottom: 1em;
}

.song-data {
  flex: 1;
  display: block;
  width: 100%;
  min-height: 3em;
  padding: 0.8em;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  background: #fff;
  white-space: pre;
  overflow-wrap: normal;
}

.song-data:focus {
  outline: 1px solid #bbb;
}

.play-pause {
  --text-colour: #666;
  padding: 0.5em;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 4px 4px 0;
  background-color: #fff;
  color: var(--text-colour);
}

.play-pause:hover {
  --text-colour: #fff;
  background-color: #222;
}

.playing .play-pause .pause,
.play-pause span {
  display: block;
}

.play-pause .play {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 14px;
  border-color: transparent transparent transparent var(--text-colour);
}

.playing .play-pause .play {
  display: none;
}

.play-pause .pause {
  display: none;
  width: 14px;
  height: 14px;
  background-color: var(--text-colour);
}

.sequence {
  --unit: 20px;
  --padding: var(--unit);
  --note-width: calc(var(--unit) * 2);
  --note-gap: 16px;
  --line-width: 2px;
  --left-start: calc(((var(--padding) * 2) + var(--note-gap) + (var(--note-width) / 2)) - (var(--line-width) / 2));
  --song-width: calc(var(--song-length) * (var(--note-gap) + var(--note-width)));
  overflow-x: auto;
  overflow-y: hidden;
  flex: 1 0 max-content;
  background-color: #fff;
  text-align: center;
  cursor: default;
}

.playing .sequence {
  overflow: hidden;
}

.sequence-inner {
  display: inline-block;
  position: relative;
  top: 50%;
  padding: calc(var(--padding) / 2) var(--padding);
  padding-right: calc(var(--padding) * 1.5);
  transform: translate(0, -50%);
}

.wide-song.playing-animation .sequence-inner {
  animation: pan-notes var(--song-duration) calc( var(--beat-duration) * 2) linear forwards;
  /* animation-timing-function: cubic-bezier(0.1, 0, 1, 1); */
}

@keyframes pan-notes {
  0% { transform: translate(0, -50%); }
  100% { transform: translate(calc(-100% + 30vw), -50%); }
/*   100% { transform: translate(calc(-100% + (var(--note-gap) + var(--note-width) * 4)), -50%); } */
}

.sequence-inner:before {
  content: '';
  position: absolute;
  top: 0;
  left: var(--left-start);
  width: calc(100% - var(--left-start) - 1px);
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    #eee,
    #eee var(--line-width),
    #fff var(--line-width),
    #fff calc(var(--note-width) + var(--note-gap))
  );
  background: url('../svg/line-background.svg') repeat; /* SVG used in order to support image export */
}

.exporting .sequence-inner:before {
  background: url('../svg/line-background-2.svg') repeat; /* Darker lines */
}

.sequence .size-reference {
  opacity: 0;
  position: absolute;
}

.sequence .needle-spacing-reference {
  width: calc(var(--note-width) + var(--note-gap));
  height: calc(var(--note-width) + var(--note-gap));
}

.sequence .play-needle {
  --pan-needle-right: var(--song-width);
  opacity: 0;
  position: absolute;
  top: 0;
  left: var(--left-start);
  width: var(--line-width);
  height: 100%;
  background-color: #666;
}

.playing-animation .sequence .play-needle {
  opacity: 1;
  animation: pan-needle var(--song-duration) linear forwards;
}

@keyframes pan-needle {
  0% { transform: translateX(calc(0px - var(--line-width))); }
  100% { transform: translateX(var(--pan-needle-right)); }
}

.sequence.is-polyphonic .monophonic,
.sequence .polyphonic {
  display: none;
}

.sequence .polyphonic {
  flex-direction: column;
  gap: var(--note-gap);
}

.sequence.is-polyphonic .polyphonic {
  display: inline-flex;
}

.sequence .note-row {
  display: flex;
  gap: var(--note-gap);
  position: relative;
  white-space: nowrap;
}

.sequence .note-row h3 {
  display: flex;
  align-items: center;
  position: sticky;
  left: var(--padding);
  min-width: var(--padding);
  height: var(--note-width);
  margin: 0;
  cursor: pointer;
}

.sequence .note-row h3:hover {
  font-weight: 400;
}

.sequence .monophonic .note-row h3 {
  opacity: 0.3;
}

.sequence .note-1 h3 {
  color: var(--note-1-colour);
}

.sequence .note-2 h3 {
  color: var(--note-2-colour);
}

.sequence .note-3 h3 {
  color: var(--note-3-colour);
}

.sequence .note-4 h3 {
  color: var(--note-4-colour);
}

.sequence .note-5 h3 {
  color: var(--note-5-colour);
}

.sequence .note-6 h3 {
  color: var(--note-6-colour);
}

.sequence .note-7 h3 {
  color: var(--note-7-colour);
}

.sequence .note-8 h3 {
  color: var(--note-8-colour);
}

.sequence .note-row ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: var(--note-gap);
  min-width: var(--note-width);
  margin: 0;
  padding: 0;
}

.sequence .note-row li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: var(--note-width);
  height: var(--note-width);
  margin: 0;
  padding: 0;
  border-radius: 30px;
  background-color: #444;
  color: #fff;
  text-align: center;
  font-weight: bold;
  transition: all 200ms;
}

.sequence .note-row li:hover {
/*   box-shadow: inset 0 0 8px rgba(0,0,0,0.2); */
  transform: scale(1.1);
  cursor: pointer;
}

.sequence .note-row li:empty {
  visibility: hidden;
}

.sequence li.note-1,
.sequence .note-1 li {
  background-color: var(--note-1-colour);
}

.sequence li.note-2,
.sequence .note-2 li {
  background-color: var(--note-2-colour);
}

.sequence li.note-3,
.sequence .note-3 li {
  background-color: var(--note-3-colour);
}

.sequence li.note-4,
.sequence .note-4 li {
  background-color: var(--note-4-colour);
}

.sequence li.note-5,
.sequence .note-5 li {
  background-color: var(--note-5-colour);
}

.sequence li.note-6,
.sequence .note-6 li {
  background-color: var(--note-6-colour);
}

.sequence li.note-7,
.sequence .note-7 li {
  background-color: var(--note-7-colour);
}

.sequence li.note-8,
.sequence .note-8 li {
  background-color: var(--note-8-colour);
}


.sidebar {
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  width: 20em;
  max-width: 90%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: all 200ms;
  pointer-events: none;
}

.sidebar.open {
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  transform: translateX(0);
  pointer-events: all;
}


@media print {
  @page {
    size: landscape;
  }

  .top,
  .sidebar {
    display: none;
  }

  .sequence {
    overflow: visible;
  }
}
