:root {
  --note-1-colour: #D32F2F;
  --note-2-colour: #F57F17;
  --note-3-colour: #FDD835;
  --note-4-colour: #8BC34A;
  --note-5-colour: #2E7D32;
  --note-6-colour: #0097A7;
  --note-7-colour: #1976D2;
  --note-8-colour: #D81B60;
}

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'DM Mono', monospace;
  font-size: 18px;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
/*   background-color: #eee; */
}

button {
  display: inline-block;
  border: none;
  border-radius: 3px;
  text-align: center;
  -webkit-appearance: none;
  cursor: pointer;
}

.wrapper {
  width: 90%;
/*   max-width: 800px; */
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 1em;
}

.song-data {
  display: block;
  width: 100%;
  padding: 0.8em;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  white-space: pre;
  overflow-wrap: normal;
}

.sequence {
  --unit: 20px;
  --padding: var(--unit);
  --note-width: calc(var(--unit) * 2);
  --note-gap: calc(var(--unit) / 2);
  --line-width: 2px;
  overflow-x: auto;
  border-radius: 30px 30px 10px 10px;
  background-color: #fff;
  text-align: center;
}

.sequence-inner {
  display: inline-flex;
  flex-direction: column;
  gap: var(--note-gap);
  position: relative;
  padding: var(--padding);
  padding-right: calc(var(--padding) * 1.5)
}

.sequence-inner:before {
  --left: calc(((var(--padding) * 2) + var(--note-gap) + (var(--note-width) / 2)) - (var(--line-width) / 2));
  content: '';
  position: absolute;
  top: 0;
  left: var(--left);
  width: calc(100% - var(--left) - 1px);
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    #eee,
    #eee var(--line-width),
    #fff var(--line-width),
    #fff calc(var(--note-width) + var(--note-gap))
  );
}

.sequence .note-row {
  display: flex;
  gap: var(--note-gap);
  position: relative;
  white-space: nowrap;
}

.sequence .note-row h3 {
  display: flex;
  align-items: center;
  position: sticky;
  left: var(--padding);
  min-width: var(--padding);
  height: var(--note-width);
  margin: 0;
}

.sequence .note-1 h3 {
  color: var(--note-1-colour);
}

.sequence .note-2 h3 {
  color: var(--note-2-colour);
}

.sequence .note-3 h3 {
  color: var(--note-3-colour);
}

.sequence .note-4 h3 {
  color: var(--note-4-colour);
}

.sequence .note-5 h3 {
  color: var(--note-5-colour);
}

.sequence .note-6 h3 {
  color: var(--note-6-colour);
}

.sequence .note-7 h3 {
  color: var(--note-7-colour);
}

.sequence .note-8 h3 {
  color: var(--note-8-colour);
}

.sequence .note-row ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: var(--note-gap);
  margin: 0;
  padding: 0;
}

.sequence .note-row li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: var(--note-width);
  height: var(--note-width);
  margin: 0;
  padding: 0;
  border-radius: 30px;
  background-color: #444;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.sequence .note-row li:empty {
  visibility: hidden;
}

.sequence .note-1 li {
  background-color: var(--note-1-colour);
}

.sequence .note-2 li {
  background-color: var(--note-2-colour);
}

.sequence .note-3 li {
  background-color: var(--note-3-colour);
}

.sequence .note-4 li {
  background-color: var(--note-4-colour);
}

.sequence .note-5 li {
  background-color: var(--note-5-colour);
}

.sequence .note-6 li {
  background-color: var(--note-6-colour);
}

.sequence .note-7 li {
  background-color: var(--note-7-colour);
}

.sequence .note-8 li {
  background-color: var(--note-8-colour);
}
