:root {
  --sequencer-line-width: 2px;
}

html,
body {
	height: 100%;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: 'DM Mono', monospace;
	font-size: 18px;
	line-height: 1.4;
	display: flex;
	flex-direction: column;
  background-color: #eee;
}

button {
	display: inline-block;
	border: none;
	border-radius: 3px;
	text-align: center;
	-webkit-appearance: none;
	cursor: pointer;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

form {
  margin-bottom: 1em;
}

.song-data {
  display: block;
  width: 100%;
  padding: 0.8em;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
}

.sequence {
  overflow-x: auto;
  border-radius: 30px 30px 10px 10px;
  background-color: #fff;
  white-space: nowrap;
}

.sequence-inner {
  display: flex;
	flex-direction: column;
	gap: 1em;
  position: relative;
  min-width: 100%;
  padding: 20px;
  background-color: grey;
  white-space: nowrap;
}

.sequence-inner:before {
  --left: calc(80px - (var(--sequencer-line-width) / 2));
  content: '';
  position: absolute;
  top: 0;
  left: var(--left);
  width: calc(100% - var(--left));
  height: 100%;
  background: repeating-linear-gradient(
    90deg,
    #eee,
    #eee var(--sequencer-line-width),
    #fff var(--sequencer-line-width),
    #fff 60px
  );
  background: none;
}

.sequence .note-row {
	display: flex;
  gap: 20px;
  position: relative;
  white-space: nowrap;
}

.sequence .note-row h3 {
  min-width: 20px;
	margin: 0;
}

.sequence .note-row ul {
	display: flex;
	align-items: center;
	list-style: none;
	gap: 20px;
	margin: 0;
	padding: 0;
}

.sequence .note-row li {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
	width: 40px;
	height: 40px;
	margin: 0;
	padding: 0;
	border-radius: 30px;
	background-color: red;
	text-align: center;
	font-weight: bold;
}

.sequence .note-row li:empty {
  visibility: hidden;
}
